
.addItem-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 50px;
}

.addItem-InputBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px 8px;
}

.additional-comments-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

.addItem-InputBox-comments{
    height: 200px;
    width: 500px;
    resize: none;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}


.submit-Button {
    background-color: #76badd;
    color: white;
    border: black;
    font-size: 16px;
    cursor: pointer;
    height: 35px;
    width: 100px;
    margin-top: auto;
}

.submit-Button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
